<div class="container">
  <div class="row shadow p-2 mb-5  rounded">

    <div class="col-md-4">
      <form class="form-inline my-2 my-lg-0 justify-content-center">
        <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
               (ngModelChange)="searchClients(searchInput.value)" type="search" placeholder="Recherche client...">
      </form>
    </div>


    <div class="col-md-8">
      <button routerLink="client" class="btn btn-outline"><i class="fa fa-plus-circle"></i>nouveau client</button>
    </div>
  </div>


  <!-- stations table -->

  <div class="row row1">
    <table class="table table-hover  table-borderless shadow p-3 mb-5 rounded">
      <thead>
      <tr class="text-center">
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
        <th>Adresse</th>
        <th>Localité</th>
        <th>Téléphone</th>
        <th>E-mail</th>
        <th>Date de visite</th>
        <th>Action</th>

      </tr>
      </thead>
      <tbody *ngFor="let client of clients index as i">
      <tr class="text-center">
        <td>{{client?.nom}}</td>
        <td>{{client?.prenom}}</td>
        <td>{{client?.age}}</td>
        <td>{{client?.adresse}}</td>
        <td>{{client?.localite}}</td>
        <td>{{client?.tele}}</td>
        <td>{{client?.email}}</td>
        <td>{{client?.dateVisit | date: 'MM/dd/yyyy'}}</td>

        <td class="">
          <div class="btn-group">
            <button class="btn btn-sm btn-outline-warning"><i class="fas fa-edit"></i></button>
            <button class="btn btn-sm btn-outline-info" (click)="open(content, client)"><i class="fa fa-info"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss" class="ng-template">
  <div class="modal-header">
    <button class="btn btn-outline-dark" ngxPrint printSectionId="print" [useExistingCss]="true"
            printTitle="fiche client"
    >
      <i class="fas fa-print"></i></button>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <div class="modal-body" id="print">
    <div class="container">
      <div class="row header-text">
        <h3 class="" id="modal-basic-title">Fiche de client</h3>
      </div>
      <div class="col-12">
<!--        <h4>Client</h4>-->
      </div>
      <div class="row">
        <div class="col-4"><label>Nom :</label>  {{client.nom}}</div>
        <div class="col-4"><label>Prénom :</label>  {{client.prenom}}</div>
        <div class="col-4"><label>Adresse :</label> {{client.adresse}}</div>
        <div class="col-4"><label>Localité :</label> {{client.localite}} </div>
        <div class="col-4"><label>Téléphone :</label>{{client.tele}} </div>
        <div class="col-4"><label>E-mail :</label>{{client.email}} </div>
        <div class="col-4"><label>Date de visite :</label> {{client.dateVisit | date: 'dd/MM/yyyy'}} </div>
        <div class="col-4"><label>Age :</label>{{client.age}} </div>
      </div>

      <div class="col-12">
        <h4>Mesures</h4>
      </div>
      <div class="row" *ngFor="let mesure of mesures">
        <div class="col-2"><label>{{mesure.oeil}}</label></div>
        <div class="col-2"><label>Axe :</label>  {{mesure.axe}}</div>
        <div class="col-2"><label>Cyl :</label> {{mesure.cyl}}</div>
        <div class="col-2"><label>Sphére :</label> {{mesure.sph}} </div>
        <div class="col-2"><label>Prisme :</label>{{mesure.prisme}} </div>
        <div class="col-2"><label>Date:</label> {{mesure.date | date: 'dd/MM/yyyy'}} </div>
      </div>


      <div class="col-12">
        <h4>Paiement</h4>
      </div>
      <div class="row" *ngFor="let p of paiements">
        <div class="col-2"><label>ID :</label> {{p.id}}</div>
        <div class="col-2"><label>Avance :</label>  {{p.totalPay}}</div>
        <div class="col-2"><label>Réste :</label> {{p.restAPay}} </div>
        <div class="col-2"><label>Totale :</label> {{p.montantTotale}}</div>
        <div class="col-4"><label>Date:</label> {{p.date | date: 'dd/MM/yyyy'}} </div>
      </div>


      <div class="col-12">
        <h4>Montures</h4>
      </div>
      <div class="row" *ngFor="let p of paiements ">
        <div class="row" *ngFor="let monture of p.monturesList">
          <div class="col-3"><label>Marque :</label>  {{monture.marque}}</div>
          <div class="col-3"><label>Série :</label>  {{monture.series}}</div>
          <div class="col-3"><label>Prix :</label>  {{monture.price}} DH</div>
          <div class="col-3"><label>Id de paiement :</label>  {{p.id}}</div>
        </div>
      </div>


      <div class="col-12">
        <h4>Lunette soleil</h4>
      </div>
      <div class="row" *ngFor="let p of paiements ">
        <div class="row" *ngFor="let lunette of p.lunetteList">
          <div class="col-3"><label>Marque :</label>  {{lunette.marque}}</div>
          <div class="col-3"><label>Série :</label>  {{lunette.series}}</div>
          <div class="col-3"><label>Prix :</label>  {{lunette.price}} DH</div>
          <div class="col-3"><label>Id de paiement :</label>  {{p.id}}</div>
        </div>
      </div>


      <div class="col-12">
        <h4>Verres</h4>
      </div>
      <div class="row" *ngFor="let p of paiements ">
        <div class="col-3"><label>Marque :</label>  {{p.verre.marque}}</div>
        <div class="col-3"><label>Traitement :</label>  {{p.verre.traitement}}</div>
        <div class="col-3"><label>Prix :</label>  {{p.verre.price}} DH</div>
        <div class="col-3"><label>Id de paiement :</label>  {{p.id}}</div>
      </div>

      <div class="col-12">
      </div>


      <div class="row bottom-text" style="margin-top: 3%">
        <div class="col-2"><i class="fas fa-glasses"></i>RosyVision</div>
        <div class="col-8"></div>
        <div class="col-2" style="text-align: end;"><i class="fas fa-glasses"></i>RosyVision</div>
      </div>


    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

