
.p-2{
  background-color: #118ab2;
  margin-top: 5%;
  /*-webkit-box-shadow: 2px -1px 49px 10px rgba(105,112,138,1);*/
  /*-moz-box-shadow: 2px -1px 49px 10px rgba(105,112,138,1);*/
  /*box-shadow: 2px -1px 49px 10px rgba(105,112,138,1);*/
}
.p-2 > .col-md-8 > button{
  float: right;
  color: #ffd166;
  border: 1px solid #ffd166;
}
.p-2 > .col-md-8 > button:hover{
  background-color: #ffd166;
  color: #000;
  }
input{
  background-color: #073b4c !important;
  border-color:#118ab2!important;
  color: #ffd166 !important;
}
.row1{
  margin-top: -3%;
  font-size: small;
}
table{
  color:#011627;
  font-weight: bold;
}

thead{
  background-color:#118ab2;
  color: #ffd166;
}
tbody{
  background-color: #d6e2e9;
}
.ng-template{
  background-color:#ffd166;
}
          /*ng-template*/
.header-text{
  text-align: center !important;
  color: #000000;
  background-color:#2a9d8f;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: -10px !important;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.bottom-text{
  color: #000000;
  background-color:#2a9d8f;
  font-family: 'Rampart One', cursive;
  margin-bottom: -10px !important;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.modal-body{
  font-family: 'Roboto', sans-serif;
}

/*#modal-basic-title{*/
/*  margin-left: 44%;*/
/*}*/
label{
  font-family: 'Righteous', cursive;
  /*font-weight: bold;*/
  margin-right: 5px;
}
.col-12{
  text-align: center !important;
  color: #000000;
  background-color:#ffcb69;
  font-family: 'Abril Fatface', cursive;
  margin:2% 0;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 0 solid #000000;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.row {
  /*margin: 1% 0;*/
}
.modal-body > .container{
  /*background-color:#ffcb69;*/
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 0 solid #000000;
}
