.container {
  margin-top: 3%;
  background: #f1f1f1;
}


.form-control {
  margin: 2% 0;
}

.col-md-12 {
  /*margin: -15px 0 0 0;*/
  text-align: center;
  background-color: #6c757d;
  color: #f1f1f1;
  letter-spacing: 4px;
  font-size: larger !important;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Stick No Bills', sans-serif;*/

}

.div-search {
  margin-top: -7%;
}

.lunette-row {
  margin-top: -2%;
}

.btn{
  background: transparent;
  border: 2px solid #ff5d8f;
  color:#f72585;
  width: 100%;
}

.btn:hover{
  background-color: #ff5d8f; /*#f1f1f1  #43502c  */
  color: #f1f1f1;
}
