<div class="container shadow p-1 mb-5 rounded">
  <form>
    <div class="col-md-12 shadow p-1 mb-5 rounded">
      Client
    </div>
    <div class="row ">


      <div class="col-md-4 col-lg-3">
        <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="client.nom" name="nom">
      </div>


      <div class="col-md-4 col-lg-3">
        <input type="text" class="form-control" placeholder="Prénom" [(ngModel)]="client.prenom" name="prenom">
      </div>


      <div class="col-md-4 col-lg-3">
        <input type="text" class="form-control" placeholder="Adresse" [(ngModel)]="client.adresse" name="adresse">
      </div>


      <div class="col-md-4 col-lg-3">
        <input type="number" class="form-control" placeholder="Age" [(ngModel)]="client.age" name="age">
      </div>


      <div class="col-md-4 col-lg-3">
        <input type="text" class="form-control" placeholder="Localité" [(ngModel)]="client.localite" name="localite">
      </div>

      <div class="col-md-4 col-lg-3">
        <select id="inputPays" class="form-control" [(ngModel)]="client.pays" name="pays">
          <option selected value="Maroc">Maroc</option>
          <option>Autre</option>
        </select>
      </div>


      <div class="col-md-4 col-lg-3">
        <input type="tel" class="form-control" placeholder="Téléphone" [(ngModel)]="client.tele" name="tele">
      </div>

      <div class="col-md-4 col-lg-3">
        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="client.email" name="email">
      </div>

      <div class="col-md-4 col-lg-3">
        <input type="date" class="form-control" placeholder="Date de visite" [(ngModel)]="client.dateVisit"
               name="dateVisit">
      </div>

      <div class="col-md-6 col-lg-6">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Commentaire" rows="2"
                          [(ngModel)]="client.comments" name="comments">

        </textarea>
      </div>

      <div class="col-md-4 col-lg-3">
        <button class="btn save-btn" (click)="save_client()">ajouter</button>
      </div>


    </div>


  </form>

  <form>
    <div class="col-md-12 shadow p-1 mb-5 rounded">
      Mesures
    </div>
    <div class="row">

      <div class="col-md-4 col-lg-3">
        <select class="form-control" [(ngModel)]="mesure.oeil" name="oeil">
          <option selected value="oeil droite">Oeil droite</option>
          <option>Oeil gouche</option>
        </select>
      </div>
      <div class="col-md-4 col-lg-3">
        <select class="form-control" [(ngModel)]="mesure.distance" name="distance">
          <option selected value="Loin">Loin</option>
          <option>Près</option>
        </select>
      </div>


      <div class="col-md-4 col-lg-3">
        <input type="number" class="form-control" placeholder="Sphére" [(ngModel)]="mesure.sph" name="sph">
      </div>

      <div class="col-md-4 col-lg-3">
        <input type="number" class="form-control" placeholder="Cylin" [(ngModel)]="mesure.cyl" name="cyl">
      </div>

      <div class="col-md-4 col-lg-3">
        <input type="number" class="form-control" placeholder="Axe" [(ngModel)]="mesure.axe" name="axe">
      </div>

      <div class="col-md-4 col-lg-3">
        <input type="number" class="form-control" placeholder="Prisme" [(ngModel)]="mesure.prisme" name="prisme">
      </div>


      <div class="col-md-4 col-lg-3">
        <button class="btn save-btn" (click)="save_mesure()">ajouter</button>
      </div>

    </div>
  </form>


</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 shadow p-1 mb-5 rounded">Monture</div>

      <div class="row div-search">
        <div class="col-6 ">
          <input class="form-control mr-sm-2" type="search" placeholder="Recherche des montures.." aria-label="Search">
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <button class="btn "> Listes des montures</button>
        </div>
      </div>

      <table class="table table-hover table-striped">
        <thead class="table-borderless monTable">
        <tr class="text-center">
          <th> Marque</th>
          <th>Séries</th>
          <th>Prix</th>
          <th>Stockage</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
          <td>4544</td>
          <td>ypussef</td>
          <td>454</td>
          <td>10</td>
        </tr>
        <tr class="text-center">
          <td>4544</td>
          <td>ypussef</td>
          <td>454</td>
          <td>10</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 shadow p-1 mb-5 rounded">Verres</div>

      <div class="row div-search">
        <div class="col-6 ">
          <input class="form-control mr-sm-2" type="search" placeholder="Recherche des verres.." aria-label="Search">
        </div>
        <div class="col-2"></div>
        <div class="col-4">
          <button class="btn "> Listes des verres</button>
        </div>
      </div>


      <table class="table table-hover table-striped">
        <thead class="table-borderless monTable">
        <tr class="text-center">
          <th> Marque</th>
          <th>Séries</th>
          <th>Prix</th>
          <th>Stockage</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
          <td>4544</td>
          <td>ypussef</td>
          <td>454</td>
          <td>10</td>
        </tr>
        <tr class="text-center">
          <td>4544</td>
          <td>ypussef</td>
          <td>454</td>
          <td>10</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12 shadow p-1 mb-5 rounded">Lunette soleil</div>

    <div class="row lunette-row">
      <div class="col-6 ">
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche des lunettes.." aria-label="Search">
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <button class="btn "> Listes des lunettes soleil</button>
      </div>
    </div>

    <table class="table table-hover table-striped">
      <thead class="table-borderless monTable">
      <tr class="text-center">
        <th> Marque</th>
        <th>Séries</th>
        <th>Prix</th>
        <th>Stockage</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center">
        <td>4544</td>
        <td>ypussef</td>
        <td>454</td>
        <td>10</td>
      </tr>
      <tr class="text-center">
        <td>4544</td>
        <td>ypussef</td>
        <td>454</td>
        <td>10</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
